.slider{
    max-width: 80%;
}
.cardX{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
.cardX:hover{
    background: rgba(225,225,225,0.1);
}
@media screen and (max-width: 600px) {
    .slider{
        max-width: 100%;
    }
}