.slider {
    max-width: 80%;
}

.cardX {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.cardX:hover {
    background: rgba(225, 225, 225, 0.1);
}

.cardX img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.cardx-cont {
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: center;
    margin-bottom: 10px;
}

.starRating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.star {
    color: yellow;
}

.empty {
    color: #ccc;
    /* Color for empty stars */
}

.invalid {
    color: red;
    /* Color for invalid rating message */
}

@media screen and (max-width: 600px) {
    .slider {
        max-width: 100%;
    }
}