* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
  }
  .loading-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 999;
    transition: all 1s;
  }
  .loader{
    display: flex;
    justify-content: center;
    object-fit: cover;
    margin: auto;
    width: 50px;
    height: 50px;
    border-top: 5px  solid #00bcd4;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: loadAni 1s ease-in-out infinite;
  }
  @keyframes loadAni{
    100%{
      transform: rotate(360deg);
    }
  }
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    background: #1a1a1a;
    color: #f1f1f1;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  button {
    padding: 10px 20px;
    border-radius: 4px;
    background: rgba(225, 225, 225, 0.1);
    color: #f1f1f1;
    cursor: pointer;
    width: min-content;
    border: none;
    white-space: nowrap;
    outline: none;
  }
  button:hover {
    background: rgba(225, 225, 225, 0.3);
  }
  button:disabled:hover{
    cursor: not-allowed;
    background: rgba(225, 225, 225, 0.1);
  }
  #play-button, #pause-button, #resume-button{
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
  }
  input, select  {
    padding: 15px;
    border-radius: 4px;
    background: rgba(225, 225, 225, 0.1);
    color: #f1f1f1;
    border: none;
    outline: none;
  }
  option{
    color: #1a1a1a;
  }
  form, .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  body {
    scrollbar-width: auto;
    scrollbar-color: #00bcd4 #9c279c;
  }
  
  /* Chrome, Edge, and Safari */
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 1px;
    border: 3px solid transparent;
  }
  
 /* Navbar  */
 header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 0.1px solid rgba(225, 225, 225, 0.1);
 }
 
 .logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: min-content;
    height: 35px;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    position: relative;
 }
 .logo:hover{
    background: rgba(225, 225, 225, 0.1);
 }
 .logo img{
    width: 35px;
    height: 35px;
 }
 .icons, .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
 }
 .links a{
    padding: 10px 20px;
    border-radius: 4px;
 }
 .links a:hover{
    background: rgba(225, 225, 225, 0.1);
 }
 .icons .ico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 23px;
 }
 .icons .ico:hover{
    background: rgba(225, 225, 225, 0.1);
 }
 #menu{
    display: none;
 }
  @media only screen and (max-width: 768px) {
    .links{
        display: none;
        position: absolute;
        top: 65px;
        right: 0;
        left: 0;
        margin: 0 auto;
        flex-direction: column;
        background: #1a1a1a;
        border: 0.1px solid rgba(225, 225, 225, 0.1);
        border-radius: 4px;
        width: 90%;
        padding: 20px;
    }
    #menu{
        display: flex;
    }
  }
  

  /* Hero Scetion  */
  .hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .hero-content{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
  }
  .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    text-align: left;
  }
  .right{
    display: flex;
  }
  .hero-content h1{
    font-size: 4rem;
  }
  .system-info{
    backdrop-filter: blur(90px);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    /* font-size: 10px; */
    white-space: nowrap;
    align-items: center;
    gap: 10px;
    width: min-content;
  }
  .system-info div{
    padding: 10px 20px;
    border-radius: 35px;
    background: rgba(225, 225, 225, 0.1);
  }
  #sys-stats{
    color: mediumseagreen;
  }
  #sys-ip{
    color: #00bcd4;
  }
  #sys-battery{
    color: gold;
  }
  .top-footer, .foot-holder{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .search{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.1px solid rgba(225, 225, 225, 0.1);
    white-space: nowrap;
    border-radius: 4px;
  }
  .search input{
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
  }
  .search span{
    padding: 10px;
  }
  .search:hover{
    background: rgba(225, 225, 225, 0.3);
  }
  .logo p{
    font-size: 12px;
    color: rgba(225, 225, 225, 0.5);
    white-space: nowrap;
  }
  .main-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #000;
    border: transparent;
  }
  .foot-links{
    display: grid;
    grid-template-columns: repeat(auto-fit, min-content);
    grid-auto-flow: column;
    gap: 10px;
    text-align: center;
    padding: 10px;
    border: 0.1px solid rgba(225, 225, 225, 0.1);
  }
  .foot-links a{
    padding: 10px 20px;
    border-radius: 4px;
    color: rgba(225, 225, 225, 0.8);
  }
  .foot-links a:hover{
    background: rgba(225, 225, 225, 0.1);
    color: #f1f1f1;
  }
  @media only screen and (max-width: 768px) {
    .hero-section{
      height: auto;
      padding: 40px 0;
    }
    .hero-content{
        width: 95%;
        height: auto;
        grid-template-columns: 1fr;
    }
    .hero-content h1{
        font-size: 3rem;
    }
    .search{
        display: none;
       }
       .top-footer{
        flex-flow: column-reverse;
       }
       .foot-links{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
       }
       .foot-links a{
        width: 100%;
       }
       .main-footer{
        flex-flow: column-reverse;
        box-shadow: 0px -50px 10px 0px rgba(0, 0, 0, 0.5);
       }
  }
  @media only screen and (max-width: 300px) {
    .logo span{
        display: none;
    }
    .hero-section{
        padding: 20px 5px;
    }
    .hero-content h1{
        font-size: 2.4rem;
    }
    .system-info{
        overflow-x: scroll;
        width: 100%;
      }
      .search{
        display: none;
       }
       .top-footer .logo{
        width: 100%;
       }
       .top-footer .logo p{
        white-space: pre-wrap;
       }
  }